{% extends "base.html" %}
{% block content %}
    <a class="backlink" href="/">Home</a>
    <h1>{{ post }}</h1>
    <p class="byline">
        Posted by {{ post.author.uername }} &mdash; {{ post.published_date }}
    </p>
    <div class="post-body">
        {{ post.text }}
    </div>
    <ul class="categories">
        {% for category in post.categories.all %}
            <li>{{ category }}</li>
        {% endfor %}
    </ul>
    <hr>
    <div class="comments">
        <h2>Comments:</h2>
    {% if user.is_authenticated %}
        <form method="POST">
            {% csrf_token %}
            <div>Please keep your comments respectful.</div>
            <br/>
            <label for="id_title">Subject:</label> {{ form.title }}
            <br/>
            <br/>
            <label for="id_text">Comment:</label>
            <br/>
            {{ form.text }}
            <br/>
            <button type="submit", class="btn btn-default">Submit</button>
        </form>
    {% endif %}
        {% for comment in comments %}
        <hr>
        <h3>{{ comment }}</h3>
        <p>{{ comment.text }}</p>
        <span style="font-size: small;">Posted at {{ comment.created_date }} by {{ comment.author }}</span>
        {% endfor %}
    </div>
{% endblock %}